<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/teaching">Teaching</a></li>
				<li><a href="/research">Research</a></li>
				<li><a href="/notes">Notes and Resources</a></li>
				<li><a href="/books">Books</a></li>
				<li><a href="/contact">Contact</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
			<center>
	    		<ul>
				This is a personal website maintained by an individual and not by the University of Delaware. The content and links provided on this site do not represent or reflect the views of the University of Delaware.
				<!-- <li><a href="mailto:nakaoj@udel.edu">email</a></li> -->
	        		<!-- <li><a href="https://github.com/jhknakao">github.com/jhknakao</a></li> -->
				</ul>
				<br>
				</center>
			</footer>
		</body>
	</html>
